#bio
  i'm a 21 year old software developer working for ThoughtWorks in Brisbane,  |
  with two years experience in ASP.NET development using C#, including a lot  |
  of time spent with the ASP.NET MVC framework. i've spent time with Ruby on  |
  Rails, and am now learning Java. i have focused my learning on design       |
  patterns and other best practice software development principles            |
