#bio
  i'm a software developer working for ThoughtWorks as a consultant. i help   |
  clients solve business problems through combinations of software, systems   |
  thinking and continuous improvement. i'm excited about writing and using    |
  software to improve my own life, and the lives of others around the world.