#bio
  i'm a consultant doing software development for ThoughtWorks in Brisbane,  |
  with experience in ASP.NET (incl. C# and ASP.NET MVC), Java and Ruby on    |
  Rails. i'm very passionate about software development as a craft, and      |
  believe in the benefits of the agile philosophy.
