#bio
  i work for ThoughtWorks as a consultant software developer. i use Java,    |
  Ruby/Rails and .NET, among other technologies. i'm passionate about        |
  applying continuous improvement principles to personal development, and    |
  am always seeking out ways to challenge and improve existing practices     |
  i am exposed to.
