#contact_me
  %dl
    %dt email:
    %dd<
      =email 'james@ottaway.mp'
    %dt gtalk:
    %dd<
      =site 'xmpp:james@ottaway.mp', 'james@ottaway.mp'
    %dt twitter:
    %dd<
      =site 'http://twitter.com/jms_', '@jms_'