%h2 contact me
#contact_me
  %dl
    %dt email:
    %dd<
      =email 'james@ottaway.mp'
    %dt gtalk:
    %dd<
      =link 'xmpp:james@ottaway.mp', 'james@ottaway.mp'
    %dt twitter:
    %dd<
      =link 'http://twitter.com/jms_', '@jms_'
