%html
  %head
    %title James Ottaway
    =haml(:meta_and_link)
  %body
    #container
      #main
        #header
          =haml(:about)
        #details
          =haml(:bio)
          =haml(:online)
          =haml(:contactme)
      #footer
        &copy; James Ottaway,
        = Time.now.year
    =haml(:analytics)