%html
  %head
    %title James Ottaway
    =haml :head
  %body
    #container
      #main
        #header
          =haml :about
        #details
          =haml :bio
          =haml :online
          =haml :contact
      #footer
        &copy; James Ottaway,
        = Time.now.year
    =haml :analytics