%html
  %head
    %title James Ottaway
    =haml :meta_and_link
  %body
    #container
      #main
        #header
          =haml :about
        #details
          %h2 bio
          =haml :bio
          %h2 online
          =haml :online
          %h2 contact me
          =haml :contact_me
      #footer
        &copy; James Ottaway,
        = Time.now.year
    =haml :analytics