%html
  %head
    %title James Ottaway
    %meta{:name => "author", :content => "James Ottaway"}
    %meta{:name => "description", :content => "The personal portfolio website of James Ottaway"}
    %meta{:name => "keywords", :content => "portfolio, web developer, photography"}
    %link{css("james-style.css")}
    %link{openid("server", "http://www.myopenid.com/server")}
    %link{openid("delegate", "http://openid.ottaway.mp/james")}
  %body
    #container
      #main
        #header
          #about
            hi there
            %br
            my name is James Ottaway
        #details
          %h2 bio
          #bio
            bio goes here
          %h2 work
          #work
            work goes here