%html
  %head
    %title James Ottaway
    %meta{:name => "author", :content => "James Ottaway"}
    %meta{:name => "description", :content => "The personal portfolio website of James Ottaway"}
    %meta{:name => "keywords", :content => "portfolio, web developer, photography"}
  %body
    %h1 James Ottaway