%html
  %head
    %title James Ottaway
    =haml(:meta_and_link)
  %body
    #container
      #main
        #header
          #about
            hi there
            %br
            my name is James Ottaway
        #details
          %h2 bio
          #bio
            bio goes here
          %h2 work
          #work
            work goes here
          =haml(:online)
          %h2 contact me
          #contactme
            you can contact me nearly anywhere at
            =email("james@ottaway.mp")
            %br
            including email, msn and google talk (to name a few)
      #footer
        &copy; James Ottaway,
        = Time.now.year
    =haml(:analytics)