%html
  %head
    %title James Ottaway
    %meta{:name => "author", :content => "James Ottaway"}
    %meta{:name => "description", :content => "The personal portfolio website of James Ottaway"}
    %meta{:name => "keywords", :content => "portfolio, web developer, photography"}
    %link{css("james-style.css")}
    %link{openid("server", "http://www.myopenid.com/server")}
    %link{openid("delegate", "http://openid.ottaway.mp/james")}
  %body
    #container
      #main
        #header
          #about
            hi there
            %br
            my name is James Ottaway
        #details
          %h2 bio
          #bio
            bio goes here
          %h2 work
          #work
            work goes here
          %h2 online
          #online
            %ul
              %li<
                %a{:href => "http://twitter.com/jms_", :id => "twitter"} Twitter
              %li<
                %a{:href => "http://www.facebook.com/james.ottaway", :id => "facebook"} Facebook
              %li<
                %a{:href => "http://www.linkedin.com/in/jamesottaway", :id => "linkedin"} LinkedIn
              %li<
                %a{:href => "http://stackoverflow.com/users/56876/jms", :id => "stackoverflow"} Stack Overflow
              %li<
                %a{:href => "http://github.com/jamesottaway", :id => "github"} GitHub
              %li<
                %a{:href => "http://www.codeplex.com/site/users/view/JMs", :id => "codeplex"} CodePlex
              %li<
                %a{:href => "http://delicious.com/jamesottaway", :id => "delicious"} Delicious
              %li<
                %a{:href => "http://www.google.com/reader/shared/jamesottaway1", :id => "reader"}Google Reader
              %li<
                %a{:href => "http://www.meetup.com/members/7878080/", :id => "meetup"} Meetup
              %li<
                %a{:href => "http://www.last.fm/user/jms_", :id => "lastfm"} Last.fm
              %li<
                %a{:href => "http://flickr.com/photos/jms88/", :id => "flickr"} Flickr
              %li<
                %a{:href => "http://digg.com/users/jimmyJMs", :id => "digg"} Digg
          %h2 contact me
          #contactme
            you can contact me nearly anywhere at
            %a{email("james@ottaway.mp")} james@ottaway.mp
            %br
            including email, msn and google talk (to name a few)
      #footer
        &copy; James Ottaway,
        = Time.now.year
    :javascript
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
        try {
          var pageTracker = _gat._getTracker("UA-13038417-1");
          pageTracker._trackPageview();
        } catch(err) {}