%meta{:name => "author", :content => "James Ottaway"}
%meta{:name => "description", :content => "The personal portfolio website of James Ottaway"}
%meta{:name => "keywords", :content => "portfolio, web developer, photography"}
%link{css("james-style.css")}
%link{openid("server", "http://www.myopenid.com/server")}
%link{openid("delegate", "http://openid.ottaway.mp/james")}