#online
  %ul
    %li<
      =site("http://codelearn.james.ottaway.mp", "Blog")
    %li<
      =site("http://twitter.com/jms_", "Twitter")
    %li<
      =site("http://www.facebook.com/james.ottaway", "Facebook")
    %li<
      =site("http://www.linkedin.com/in/jamesottaway", "LinkedIn")
    %li<
      =site("http://stackoverflow.com/users/56876/jms", "Stack Overflow")
    %li<
      =site("http://github.com/jamesottaway", "GitHub")
    %li<
      =site("http://www.codeplex.com/site/users/view/JMs", "CodePlex")
    %li<
      =site("http://delicious.com/jamesottaway", "Delicious")
    %li<
      =site("http://www.google.com/reader/shared/jamesottaway1", "Google Reader")
    %li<
      =site("http://www.meetup.com/members/7878080/", "Meetup")
    %li<
      =site("http://www.last.fm/user/jms_", "Last.fm")
    %li<
      =site("http://flickr.com/photos/jms88/", "Flickr")
    %li<
      =site("http://digg.com/users/jimmyJMs", "Digg")
