%h2 online
#online
  %ul
    %li<
      =link 'http://github.com/jamesottaway', 'GitHub'
    %li<
      =link 'http://blog.james.ottaway.mp', 'Blog'
    %li<
      =link 'http://twitter.com/jms_', 'Twitter'
    %li<
      =link 'http://instagram.com/jms_', 'Instagram'
    %li<
      =link 'http://flickr.com/photos/jms88/', 'Flickr'
    %li<
      =link 'http://www.facebook.com/james.ottaway', 'Facebook'
    %li<
      =link 'http://www.linkedin.com/in/jamesottaway', 'LinkedIn'
    %li<
      =link 'http://stackoverflow.com/users/56876/jms', 'Stack Overflow'
    %li<
      =link 'http://www.meetup.com/members/7878080/', 'Meetup'
    %li<
      =link 'http://www.goodreads.com/user/show/4613117-james-ottaway', 'Goodreads'
